#main-container {
    background-color: #202142;
    padding: 2vh 0;
    width: 100vw;
    text-align: center;
    color: #fff;
}

#media-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5vh;
}