body {
  background-color: #202142;
}

#app-container nav ul{
  background-color: #202142;
  font-size: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  list-style-type: none;
}

#app-container nav ul li {
  color: #fff;
}