#favorites-list-container {
    background-color: #fff;
    /* padding: 2vw 2vh; */
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    border-top: solid 5px #000;
    border-bottom: solid 5px #000;
}

#favorites-list-container {
    text-align: center;
}

#overflow-div {
    padding-right: 25vw;
    padding-left: 5vw;
    display: flex;
    gap: 2vw;
    height: 40vh;
    text-align: center;
}