.item-container {
    padding: 0 2vh;
    background-color: #202142;
}

.item-image img {
    height: 25vh;
    margin-left: auto;
    margin-right: auto;
}

.item-content {
    justify-content: center;
    display: flex;
    height: 20px; 
}

.item-content p {
    margin: 0;
    font-size: 20px;
    display: absolute;
    color: white;
}