#shopping-cart-icon {
    position: absolute;
    right: 0;
    top: 80px;
    margin-right: 2vw;
    display: flex;
    flex: 1 1;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#shopping-cart-icon p {
    padding-top: 1vh;
    font-size: 2rem;
    margin: 0;
    font-weight: bold;
    color: #fff;
    margin-right: 1rem;
    letter-spacing: 2px;
}

.ShoppingCartIconp:hover {
    background-color: #ff0000;
}